@import 'tailwindcss';

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --banner-shadow-lg: 0 8px 10px -1px #008549be;
  --banner-shadow-md: 0 6px 8px -1px #008549be;
  --banner-shadow: 0 4px 6px -1px #008549be;

  --card-shadow: 0px 0px 6px 1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  --primary-color: #008549;
  --secondary-color: #fce803;
  --gray-color: #f5f5f5;
  --button-gray: #f7f7f7;
  --text-green: #8bb098;

  --green-button: #008549;
  --green-button-hover: #006236;
  --blue-button: #0070f0;
  --blue-button-hover: #005ec9;
  --info-button: #008094;
  --yellow-button: #f5a524;
  --red-button: #f0001c;
  --red-button-hover: #bb0117;

  --alert-color: #f0c1c1;
  --text-alert-color: #bb2124;

  --link-color: #646cff;
  --link-hover-color: #535bf2;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
